html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cui-component {
  height: 100%;
}

.cui-component-border {
  border: 1px solid #000;
}

.cui-component-text {
  text-align: center;
}

.cui-component-button {
  text-align: center;
}

.cui-container {
  height: 100%;
}

.cui-container-outline {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: 32px 1fr 32px;
}
.cui-container-balanced,
.cui-container-northwest,
.cui-container-northeast,
.cui-container-southwest,
.cui-container-southeast,
.cui-container-north,
.cui-container-south,
.cui-container-west,
.cui-container-east {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.cui-container-northwest-inner,
.cui-container-northeast-inner,
.cui-container-southwest-inner,
.cui-container-southeast-inner {
  grid-column-end: span 2;
  grid-row-end: span 2;
  display: grid;
}
.cui-container-north-inner,
.cui-container-south-inner, {
  grid-column-end: span 3;
  grid-row-end: span 2;
  display: grid;
}
.cui-container-west-inner,
.cui-container-east-inner,{
  grid-column-end: span 2;
  grid-row-end: span 3;
  display: grid;
}



.cui-container-northwest-inner,
.cui-container-west-inner,
.cui-container-southwest-inner {
  grid-template-columns: auto 32px;
}
.cui-container-northeast-inner,
.cui-container-east-inner,
.cui-container-southeast-inner {
  grid-template-columns: 32px auto;
}
.cui-container-northwest-inner,
.cui-container-north-inner,
.cui-container-northeast-inner,
 {
  grid-template-rows: auto 32px;
}
.cui-container-southwest-inner,
.cui-container-south-inner,
.cui-container-southeast-inner {
  grid-template-rows: 32px auto;
}
.cui-container-north-inner,
.cui-container-south-inner, {
  grid-template-columns: 32px auto 32px;
}
.cui-container-west-inner,
.cui-container-east-inner,{
  grid-template-rows: 32px auto 32px;
}
